<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <%= @homework.materia %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @homework.tiempo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @homework.nombre %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @homework.observaciones %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
